@import "../utilities/mixins";
// CUERPO DEL HOME

.container-home {
        display: grid;
        overflow: hidden;
// BAR 
    .bar-home{
        height: 6vh;
        width: 100%;
        position: fixed;
        top: 4.5vh;
        background-color: #ffffffeb;
        z-index: 100;
        &__btns{
            display: flex;
            overflow-x: scroll;
            &--btn{
                padding: 0.5rem 1rem;
                margin: 1vh 1vw;
                border: none;
                background-color: #f6d794;
                border-radius: 6px;
                white-space: nowrap;
                &-text{
                    color: #00008b;
                }
                &:hover{
                    background-color: #ffdb8c;
                    cursor: pointer;
                    border-bottom: solid 1px #ffdb8c;
                }
            }
        }
        
    }
// MAIN
    .main-home {
        margin-top: 10.5vh;
        z-index: 0;
        &__recommended {
            margin-bottom: 2vh;
            display: flex;
            flex-direction: column;
            &--section{
                margin-top: 1vh;
                width: auto;
                .main-home__recommended--h1 {
                    @include title;
                }                    
                .main-home__recommended-boxes{
                    height: 25vh;
                    margin: 1vh 0;
                    overflow-x: scroll;
                    display: flex;
                    &--box{
                        display: grid;
                        box-shadow: 0 2px 4px 0 #0000004d;
                        margin: 0 5vw;
                        border-radius: 10px;
                        width: 100%;
                        .main-home__recommended--pic{
                            width: 90vw;
                            height: 16vh;
                            display: flex;
                            justify-content: center;
                            // border-bottom: #00008b 1px solid;
                            &-img{
                                max-height: 100%;   
                                max-width: 100%;
                                border-radius: 10px;
                            }
                            &-brand{
                                align-items: center;
                                background: #fff;
                                border-radius: 3px;
                                box-shadow: 1px 1px 2px 0 #aaaaaa80;
                                display: flex;
                                height: 66px;
                                left: 24px;
                                padding: 7px;
                                position: absolute;
                                top: 840px;
                            }
                            &-img2{
                                border-radius: 50%;
                            }
                            
                        }
                        .main-home__recommended--title{
                            display: flex;
                            padding: 1vh;
                            justify-content: center;
                            &-p{
                                color: #00008b;
                                text-align: center;
                                align-self: center;
                                font-size: 1.3rem;
                            }
                        }
                    }
                }   
            }
        }
        // &__current {
        //     &--h2 {
        //         @include title;
        //     }
        //     &-container {
        //         .main-home__current-box {
        //             display: grid;
        //             grid-template-columns: 35% 65%;
        //         }
        //         .main-home__current-info {
        //             margin: 0.4vh 0 0.1vh 1vw;
        //             &--body {
        //                 line-height: 1.5;
        //             }
        //             &--title {
        //                 font-size: 1.3rem;
        //             }
        //         }
        //     }
        // }
        // &__slide-container{
        //     min-height: 50vh;
        //     display: flex;
        //     align-items: center;
        //     justify-content: center;
        //     background-color: #EFEFEF;
        //     .main-home__slide-content{
        //         margin: 0 40px;
        //         .main-home__card-wrapper{
        //             .main-home__card{
        //                 border-radius: 25px;
        //                 background-color: #FFF;
        //                 .main-home__image-content{
        //                         padding: 10px 14px;
        //                         align-items: center;
        //                         display: flex;
        //                         flex-direction: column;
        //                         row-gap: 5px;
        //                     .main-home__overlay{
        //                         position: absolute;
        //                         height: 100%;
        //                         width: 100%;
        //                         left: 0;
        //                         top: 0;
        //                         background-color: #4070F4;
        //                         .main-home__card-image{
        //                             position: relative;
        //                             height: 23vh;
        //                             width: 20vw;
        //                             border-radius: 50%;
        //                             background-color: #FFF;
        //                             .main-home__card-img{
        //                                 height: 100%;
        //                                 width: 100%;
        //                                 object-fit: cover;
        //                                 border-radius: 50%;
        //                             }
        //                         }
        //                     }
        //                 }
        //                 .main-home__card-content{
        //                     padding: 10px 14px;
        //                     align-items: center;
        //                     display: flex;
        //                     flex-direction: column;
        //                     &--name{
        //                         font-size: 18px;
        //                         font-weight: 500;
        //                         color: #333;
        //                     }
        //                     &--description{
        //                         font-size: 14px;
        //                         color: #707070;
        //                         text-align: center;
        //                     }
        //                     &--button{
        //                         border: none;
        //                         font-size: 16px;
        //                         color: #FFF;
        //                         padding: 8px 16px;
        //                         background-color: #4070F4;
        //                         border-radius: 6px;
        //                         margin: 14px;
        //                         cursor: pointer;
        //                         transition: all 0.3s ease;
        //                         &:hover{
        //                             background-color: #265DF2;
        //                         }
        //                     }
        //                 }
        //             }
        //         }
        //     }
        // }
    }
}  




// .container-home {
//     display: grid;
//     grid-template-areas:"aside bar"
//                         "aside main";
// //ASIDE 
//     .aside-home{
//         grid-area: aside;
//         width: 7.7vw;
//         position:fixed;
//         top: 8.5vh;
//         height: 90.5vh;
//         z-index: 100;
//         &__ul{
//             display: flex;
//             height: 100%;
//             flex-direction: column;
//             align-items: center;
//             list-style-type:none;
//             justify-content: space-around;
//             margin: 0 1.5vw;
//             .aside-home__li{
//                 height: 10vh;
//                 display: flex;
//                 flex-direction: column;
//                 justify-content: center;
//                 border-radius: 4px;
//                 &:hover{
//                     background-color: #f6d794;
//                     cursor: pointer;
//                 }
//                 a{
//                     text-align: center;
//                     lord-icon{
//                         width: 1.6rem;
//                         height: 1.6rem;
//                     }
//                 }
//                 p{
//                     color: #00008b;
//                     font-size: 0.75rem;
//                     text-align: center;
//                 }

//             }
//         }
//     }
// // BAR 
//     .bar-home{
//         grid-area: bar;
//         height: 6vh;
//         width: 100%;
//         display: flex;
//         justify-content: space-evenly;
//         align-items: center;
//         position: fixed;
//         margin-left: 3vw;
//         background-color: #ffffffeb;
//         &__btn{
//             padding: 0.5rem 1rem;
//             margin: 1vh 1vw;
//             border: none;
//             background-color: #f6d794;
//             border-radius: 6px;
//             &--text{
//                 color: #00008b;
//             }
//             &:hover{
//                 background-color: #ffdb8c;
//                 cursor: pointer;
//                 border-bottom: solid 1px #ffdb8c;
//             }
//         .selected{
//             background-color: #4070F4;
//         }
//         }
//         &__arrow{
//             &--btn{
//                 height: 3vh;
//                 width: 4vw;
//                 border: none;
//                 background-color: transparent;
//                 background-size: cover;
//                 background-position: center;
//                 background-image: url("../../images/forwardarrow_haciaadelante_4836.png");
//                 &:hover {
//                     scale: 1.05;
//                 }
//             }
//         }
//     }
// // MAIN
//     .main-home {
//         grid-area: main;
//         width: 88.3vw;
//         position: relative;
//         margin-left: 8vw;
//         margin-top: 6vh;
//         overflow: hidden;
//         z-index: -100;
//         &__recommended {
//             margin-bottom: 2vh;
//             &--h1 {
//                 @include title;
//             }
//             &-container {
//                 display: flex;
//                 height: 20.5vh;
//                 justify-content:flex-start;
//                 .main-home__recommended-box {
//                     display: grid;
//                     margin: 1vh 0.2vw;
//                     background-color: gainsboro;
//                     grid-template-rows: 65% 35% ;
//                     min-width: 17vw;
//                     img {
//                         max-width: 100%;
//                         max-height: 100%;
//                     }
//                 }
//                 .main-home__recommended-info {
//                     background-color: rebeccapurple;
//                     &--body {
//                         line-height: 1.5;
//                     }
//                 }
//             }   
//         }
//         &__current {
//             &--h2 {
//                 @include title;
//             }
//             &-container {
//                 .main-home__current-box {
//                     display: grid;
//                     grid-template-columns: 35% 65%;
//                 }
//                 .main-home__current-info {
//                     margin: 0.4vh 0 0.1vh 1vw;
//                     &--body {
//                         line-height: 1.5;
//                     }
//                     &--title {
//                         font-size: 1.3rem;
//                     }
//                 }
//             }
//         }
//         &__slide-container{
//             min-height: 50vh;
//             display: flex;
//             align-items: center;
//             justify-content: center;
//             background-color: #EFEFEF;
//             .main-home__slide-content{
//                 margin: 0 40px;
//                 .main-home__card-wrapper{
//                     .main-home__card{
//                         border-radius: 25px;
//                         background-color: #FFF;
//                         .main-home__image-content{
//                                 padding: 10px 14px;
//                                 align-items: center;
//                                 display: flex;
//                                 flex-direction: column;
//                                 row-gap: 5px;
//                             .main-home__overlay{
//                                 position: absolute;
//                                 height: 100%;
//                                 width: 100%;
//                                 left: 0;
//                                 top: 0;
//                                 background-color: #4070F4;
//                                 .main-home__card-image{
//                                     position: relative;
//                                     height: 23vh;
//                                     width: 20vw;
//                                     border-radius: 50%;
//                                     background-color: #FFF;
//                                     .main-home__card-img{
//                                         height: 100%;
//                                         width: 100%;
//                                         object-fit: cover;
//                                         border-radius: 50%;
//                                     }
//                                 }
//                             }
//                         }
//                         .main-home__card-content{
//                             padding: 10px 14px;
//                             align-items: center;
//                             display: flex;
//                             flex-direction: column;
//                             &--name{
//                                 font-size: 18px;
//                                 font-weight: 500;
//                                 color: #333;
//                             }
//                             &--description{
//                                 font-size: 14px;
//                                 color: #707070;
//                                 text-align: center;
//                             }
//                             &--button{
//                                 border: none;
//                                 font-size: 16px;
//                                 color: #FFF;
//                                 padding: 8px 16px;
//                                 background-color: #4070F4;
//                                 border-radius: 6px;
//                                 margin: 14px;
//                                 cursor: pointer;
//                                 transition: all 0.3s ease;
//                                 &:hover{
//                                     background-color: #265DF2;
//                                 }
//                             }
//                         }
//                     }
//                 }
//             }
//         }
//     }
// }  

