.grid-container-inicio {
    display: grid;
    grid-template-rows: 10vh 90vh;
    background: linear-gradient(230deg, #fc9e4e, #1d0e140d 30.71%),            
                linear-gradient(165deg, #1d0e14, #1d0e143f 25%, rgba(0,255,0,0) 40.71%),
                linear-gradient(50deg, #3a4b51 20%, rgba(0,255,0,0) 60.71%),            
                linear-gradient(336deg, #faf3e8 5%,#fb8042 40.71%, #fbc157);            
                    
    .header-inicio {
        // display: flex;
        &__container{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0 4vw;
            &--logo{
                p{
                    font-size: 1.2rem;
                }
            }
            &--ul {
                display: flex;
                // width: 35vw;
                height: 8vh;
                justify-content: space-evenly;
                align-items: center;
                li {
                    display: flex;
                    background-color: #1d0e14d1;
                    height: 5vh;
                    width: 12vw;
                    padding: 0.6vh 1.2vw;
                    justify-content: center;
                    align-items: center;
                    border-radius: 4px;
                    a{
                        font-size: 0.8rem;
                        
                    }
                    &:hover {
                        color: rgba(0, 0, 0, 0.302);
                        scale: 1.1;
                    }
                }
            }
        }
    }
    .main-inicio-first {
        display: grid;
        height: 100%;
        grid-template-rows: 35% 10% 55%;
        margin: 0 5vw;
        &__title {
            display: flex;
            flex-direction: column;
            justify-content: center;
            &--h1 {
                margin-top: 3vh;
                font-size: 2.5rem;
                font-weight: 800;
            }
            &--description{
                margin-top: 2vh;
            }
        }
        &__action{
            display: flex;
            justify-content: center;
            align-items: center;
            &--container{
                background-color: #f9a956;
                padding: 1vh 1vw;
                border-radius: 4px;
                p{
                    color: white;
                }
            }
        }
        &__image{
            width: 100%;
            height: 100%;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            &--container{
                height: 80%;
            }
            &--img{
                max-width: 100%;
                max-height: 100%;
                background-size: cover;
                border-radius: 10px;
            }
        }
    }
}
.main-inicio-second{
    display: none;
}


/* HOW TO AFFECT A PARENT HOVERING A CHILD? */
// .containerBox:hover>.gridContainer {
//     background-image: url("/images/meditate.jpg");
// }