.grid-container-inicio {
    display: grid;
    grid-template-rows: 8vh 92vh;
    background-image: url("/images/inicio--img.jpg");
    height: 100vh;
    background-size: cover;
    background-position: 100%;
    .header-inicio {
        display: flex;
        justify-content: flex-end;
        &__ul {
            display: flex;
            width: 35vw;
            height: 8vh;
            justify-content: space-evenly;
            align-items: center;
            li {
                display: inline-block;
                &:hover {
                    color: rgba(0, 0, 0, 0.302);
                    scale: 1.1;
                }
            }
        }
    }
    .main-inicio {
        display: grid;
        grid-template-rows: 50% 30% 20%;
        &__title {
            text-align: center;
            margin: auto;
            .h1 {
                margin-top: 10vh;
                font-size: 2.4rem;
                font-weight: 800;
            }
        }
        &__options {
            display: grid;
            grid-template-columns: 1fr 7.5fr 1fr;
            .main-inicio__boxes {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                text-align: center;
                .main-inicio__box {
                    margin: auto;
                    font-weight: 600;
                    border: #ffd2d270 1.5px solid;
                    border-radius: 8px;
                    width: 34vw;
                    height: 10vh;
                    background-color: #ffd2d230;
                    display: grid;
                    &:hover {
                        background-color: #ffd2d241;
                        scale: 1.01;
                    }
                    &--health{
                        display: none;
                    }
                    p {
                        align-self: center;
                        text-shadow: 1px 1px 1px #ffd2d2, -1px -1px 2px #ffd2d2
                    }
                }
            }
            .main-inicio__arrow {
                margin: auto;
                &--btn {
                    height: 5vh;
                    width: 4vw;
                    border: none;
                    background-color: transparent;
                    background-size: cover;
                    background-position: center;
                    &:hover {
                        scale: 1.05;
                    }
                }
                .main-inicio__arrow--btn1 {
                    background-image: url("/images/back_arrow_5821.png");
                }
                
                .main-inicio__arrow--btn2 {
                    background-image: url("/images/forwardarrow_haciaadelante_4836.png");
                }
            }
        }
        &__start {
            text-align: center;
            font-weight: 600;
            p {
                display: inline-block;
                text-shadow: 1px 1px 1px #ffd2d2;
                font-size: 2.2rem;
                &:hover {
                    color: #00008bce;
                    scale: 1.1;
                }
            }
        }
    }
}

/* HOW TO AFFECT A PARENT HOVERING A CHILD? */
// .containerBox:hover>.gridContainer {
//     background-image: url("/images/meditate.jpg");
// }
