.grid-container-inicio {
    display: grid;
    grid-template-rows: 10vh 90vh;
    background-image: url("https://manusantamaria.github.io/developing-our-self/images/inicioBackground.png");
    background-size:cover;
    background-position: 50% 80%;
    .header-inicio {
        nav{
            height: 100%;
        }
        &__container{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0 4vw;
            height: 100%;
            &--logo{
                p{
                    font-size: 1.2rem;
                }
            }
            &--ul {
                display: flex;
                // width: 35vw;
                height: 8vh;
                justify-content: space-evenly;
                align-items: center;
                li {
                    display: flex;
                    background-color: #1d0e14d1;
                    height: 5vh;
                    width: 12vw;
                    padding: 0.6vh 1.2vw;
                    justify-content: center;
                    align-items: center;
                    border-radius: 4px;
                    a{
                        font-size: 0.8rem;
                        
                    }
                    &:hover {
                        color: rgba(0, 0, 0, 0.302);
                        scale: 1.1;
                    }
                }
            }
        }
    }
    .main-inicio-first {
        display: grid;
        height: 100%;
        grid-template-rows: 73% 12% ;
        margin: 0 5vw;
        &__title {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            &--h1 {
                margin-top: 3vh;
                font-size: 2.5rem;
                font-weight: 800;
                text-align: center;
            }
            &--description{
                margin-top: 2vh;
                display: none;
            }
        }
        &__action{
            display: flex;
            justify-content: center;
            align-items: center;
            &--container{
                background-color: #f9a956;
                padding: 1vh 1vw;
                border-radius: 4px;
                p{
                    color: white;
                }
            }
        }
        &__image{
            width: 100%;
            height: 100%;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            &--container{
                height: 80%;
            }
            &--img{
                max-width: 100%;
                max-height: 100%;
                background-size: cover;
                border-radius: 10px;
            }
        }
    }
}
.main-inicio-second{
    display: none;
}
