.grid-container-sign{
    background-image: url("../../images/mainMountain.jpg");
    background-size: cover;
    background-position: 50% 50%;
    .header-Sign {
        height: 8vh;
        // border-bottom: #ffd2d2 solid 1px;
        nav{
            height: 100%;
            .header-Sign__logo{
                display: flex;
                height: 100%;
                align-items: center;
                padding: 0 4vw;
                a{
                    font-weight: 600;
                }
            }
        }     
    }
    .main-Sign {
        display: flex;
        height: 92vh;
        &__info {
            display: none;
            background-image: url("../../images/mainMountain1.png");
            background-size: cover;
            background-position: 50% 10%;
            height: 100%;
            border-radius: 0 5px 0 0;
            .main-Sign__text {
                margin: auto;
                width: 75%;
                height: 60%;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #fce7e766;
                .main-Sign__square {
                    height: 70%;
                    width: 70%;
                    margin: auto;
                    display: flex;    
                    flex-direction: column;
                    justify-content: space-evenly;
                    h1{
                        font-size: 1.8rem;
                        color: #00008bd5;
                        i{
                            color: #00008b;
                        }
                        strong{
                            font-size: 1.8rem;
                            color: #00008b;
                        }
                    }
                    p{
                        margin-bottom: 5vh;
                        color: #00008b;
                    }
                }
            }
        }
        &__container {
            display: flex;
            background-color: #ffd2d27c;
            background: linear-gradient(0deg, #fce7e766 0%, #ffd2d2c0 100%);
            border-radius: 4px;
            margin: auto;
            .main-Sign__form {
                margin: auto;
                width: 75vw;
                height: 75vh;
                display: flex;
                flex-direction: column;
                padding: 4vh 4vw 4vh 2vw;
                &--h2{
                    color: #00008b;
                }
                &--description {
                    color: #00008b;
                    margin: 2vh 0;
                    font-size: 0.85em;
                }
                &--sms{
                    color: red;
                }
                .main-Sign__label {margin: 1vh 0vw; color: #00008b;}
                .main-Sign__input {
                    border: none;
                    border-bottom: 2px solid #f6d794;
                    border-radius: 3px;
                    margin: 1vh 0;
                    padding: 1vh 0;
                    background-color: transparent;
                    color: #00008b;
                    &:focus{
                        outline: none;
                    }
                    &:hover{
                        background-color: #f6d79457;
                    }
                }
                .main-SignIn--btn, .main-SignUp--btn{
                    width: 100%;
                }
                .main-Sign__password--container{
                    border-bottom: 2px solid #f6d794;
                    margin: 1vh 0;
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    .main-Sign__input--password{
                        border: none;
                        margin: 0;
                        width: 90%;
                    }
                    #show-password{
                        color:#00008b;
                    } 
                }
                
                .main-Sign__help {
                    display: flex;
                    justify-content: space-between;
                    margin: 2vh 0.5vw;
                    p{
                        font-size: 0.7em;
                        color: #00008b;
                    }
                }
                .main-Sign__divisor{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    height: 8vh;
                    &-side{
                        width: 30%;
                        hr{
                            background-color: #f6d794;
                            border: none;
                            height: 2px;
                        }
                    }
                    p{
                        color: #00008b;
                    }
                }
                .main-Sign__create-account {
                    margin: auto;
                    color: #00008b;
                    &:hover{
                        color: #00008bd5 ;
                    }
                }
                .main-Sign__social-media {
                    display: flex;
                    justify-content: space-around;
                    list-style-type: none;
                    margin: 1vh 0;
                    i {
                        width: 1vw;
                        color: #00008b;
                    }
                }
            }
        }
    }
}
