.container-tools{
    display: grid;
    overflow: hidden;
    margin-top: 5vh ;
    // MAIN
    .main-tools {
        // width: 88.3vw;
        margin: 2vh 4vw;
        overflow: hidden;
        &__favorite{
            &--h1{
                font-size: 1.5rem;
                color: #00008b;
                margin-bottom: 2vh;
            }
            &--chosen{
                display: flex;
                height: 26vh;
                border: #00008b 1px solid;
                border-radius: 4px;
            }
        }
        &__extensions{
            &--h2{
                font-size: 1.5rem;
                color: #00008b;
                margin-top: 2vh;
            }
            .main-tools__container{
                display: flex;
                flex-wrap: wrap;
                &--extension{
                    margin: 3vh 2vw;
                    border-radius: 7px;
                    z-index: 100;
                    .main-tools__container--title{
                        text-align: center;
                        color: #00008b;
                    }
                    &:hover{
                        background-color: #fdefd1;
                    }
                }
            }
        }
    }
}   

    