* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  color: #00008B;
  font-family: "Lato", sans-serif;
  font-size: 13px;
  box-sizing: border-box;
}

.grid-container-sign {
  background-image: url("/images/main-sign__info--img2.jpg");
  background-size: cover;
  background-position: 50% 50%;
}
.grid-container-sign .header-Sign {
  height: 8vh;
  border-bottom: #ffd2d2 solid 1px;
}
.grid-container-sign .header-Sign nav {
  height: 100%;
}
.grid-container-sign .header-Sign nav .header-Sign__logo {
  display: flex;
  height: 100%;
  align-items: center;
  padding: 0 4vw;
}
.grid-container-sign .header-Sign nav .header-Sign__logo a {
  font-weight: 600;
}
.grid-container-sign .main-Sign {
  display: flex;
  height: 92vh;
}
.grid-container-sign .main-Sign__info {
  display: none;
  background-image: url("/images/main-sign__info--img2.jpg");
  background-size: cover;
  background-position: 50% 50%;
  height: 100%;
}
.grid-container-sign .main-Sign__info .main-Sign__text {
  margin: auto;
  width: 75%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(252, 231, 231, 0.4);
}
.grid-container-sign .main-Sign__info .main-Sign__text .main-Sign__square {
  height: 70%;
  width: 70%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.grid-container-sign .main-Sign__info .main-Sign__text .main-Sign__square h1 {
  font-size: 1.8rem;
  color: rgba(0, 0, 139, 0.8352941176);
}
.grid-container-sign .main-Sign__info .main-Sign__text .main-Sign__square h1 strong {
  font-size: 1.8rem;
  color: #00008b;
}
.grid-container-sign .main-Sign__info .main-Sign__text .main-Sign__square p {
  margin-bottom: 5vh;
}
.grid-container-sign .main-Sign__container {
  display: flex;
  background-color: rgba(255, 210, 210, 0.4862745098);
  background: linear-gradient(0deg, rgba(252, 231, 231, 0.4) 0%, rgba(255, 210, 210, 0.7529411765) 100%);
  border-radius: 4px;
  margin: auto;
}
.grid-container-sign .main-Sign__container .main-Sign__form {
  margin: auto;
  width: 75vw;
  height: 75vh;
  /* background-color: ; */
  display: flex;
  flex-direction: column;
  padding: 8vh 4vw 4vh 2vw;
}
.grid-container-sign .main-Sign__container .main-Sign__form--description {
  margin: 2vh 0;
  font-size: 0.85em;
}
.grid-container-sign .main-Sign__container .main-Sign__form .main-Sign__label {
  margin: 1vh 0.5vw;
}
.grid-container-sign .main-Sign__container .main-Sign__form .main-Sign__input {
  border: 1px solid #ffd2d2;
  /* #87CEEB; */
  border-radius: 3px;
  margin: 1vh 0;
  padding: 1vh 0;
  background-color: transparent;
}
.grid-container-sign .main-Sign__container .main-Sign__form .main-Sign__input:focus {
  outline: none;
}
.grid-container-sign .main-Sign__container .main-Sign__form .main-Sign__input:hover {
  background-color: rgba(255, 210, 210, 0.137254902);
}
.grid-container-sign .main-Sign__container .main-Sign__form .main-Sign__help {
  display: flex;
  justify-content: space-between;
  margin: 2vh 0.5vw;
}
.grid-container-sign .main-Sign__container .main-Sign__form .main-Sign__help p {
  font-size: 0.7em;
}
.grid-container-sign .main-Sign__container .main-Sign__form .main-Sign__divisor {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 8vh;
}
.grid-container-sign .main-Sign__container .main-Sign__form .main-Sign__divisor-side {
  width: 30%;
}
.grid-container-sign .main-Sign__container .main-Sign__form .main-Sign__divisor-side hr {
  background-color: #ffd2d2;
  border: none;
  height: 1px;
}
.grid-container-sign .main-Sign__container .main-Sign__form .main-Sign__create-account {
  margin: auto;
}
.grid-container-sign .main-Sign__container .main-Sign__form .main-Sign__create-account:hover {
  color: rgba(0, 0, 139, 0.8352941176);
}
.grid-container-sign .main-Sign__container .main-Sign__form .main-Sign__social-media {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin: 1vh 0;
}
.grid-container-sign .main-Sign__container .main-Sign__form .main-Sign__social-media i {
  width: 1vw;
}

.grid-container-home {
  display: grid;
  grid-template-rows: 9.5vh 100vh 30vh;
}
.grid-container-home .header-home {
  display: grid;
  grid-template-columns: 35% 45% 20%;
  position: sticky;
  top: 0;
  background-color: rgba(255, 255, 255, 0.9803921569);
}
.grid-container-home .header-home__start {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.grid-container-home .header-home__start--brand a {
  font-size: 1.5rem;
}
.grid-container-home .header-home__center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.grid-container-home .header-home__center .header-home__search {
  background-color: transparent;
  border: 1px solid #ffd2d2;
  border-radius: 14px;
  width: 40vw;
  height: 5vh;
  display: grid;
  grid-template-columns: 90% 10%;
}
.grid-container-home .header-home__center .header-home__search--input {
  width: 100%;
  overflow: hidden;
}
.grid-container-home .header-home__center .header-home__search--input ::-moz-placeholder {
  color: #00008b;
}
.grid-container-home .header-home__center .header-home__search--input ::placeholder {
  color: #00008b;
}
.grid-container-home .header-home__center .header-home__search .search__input {
  background-color: transparent;
  border: none;
  height: 100%;
  width: 100%;
  text-align: center;
  letter-spacing: 0.2rem;
}
.grid-container-home .header-home__center .header-home__search .search__input:focus {
  outline: none;
}
.grid-container-home .header-home__center .header-home__search--btn {
  display: flex;
  margin: auto;
}
.grid-container-home .header-home__center .header-home__search--btn lord-icon {
  width: 1.6rem;
  height: 1.6rem;
}
.grid-container-home .header-home__end {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.grid-container-home .header-home lord-icon {
  width: 1.95rem;
  height: 1.95rem;
  color: #00008b;
}
.grid-container-home .container-home {
  display: grid;
  grid-template-areas: "aside bar" "aside main";
}
.grid-container-home .container-home .aside-home {
  grid-area: aside;
  width: 7.7vw;
  position: fixed;
  top: 8.5vh;
  height: 90.5vh;
}
.grid-container-home .container-home .aside-home__ul {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  justify-content: space-around;
  margin: 0 1.5vw;
}
.grid-container-home .container-home .aside-home__ul .aside-home__li {
  height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 4px;
}
.grid-container-home .container-home .aside-home__ul .aside-home__li:hover {
  background-color: rgba(255, 210, 210, 0.5607843137);
  cursor: pointer;
}
.grid-container-home .container-home .aside-home__ul .aside-home__li a {
  text-align: center;
}
.grid-container-home .container-home .aside-home__ul .aside-home__li a lord-icon {
  width: 1.6rem;
  height: 1.6rem;
}
.grid-container-home .container-home .aside-home__ul .aside-home__li p {
  font-size: 0.75rem;
  text-align: center;
}
.grid-container-home .container-home .bar-home {
  grid-area: bar;
  height: 6vh;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  margin-left: 8vw;
  background-color: rgba(255, 255, 255, 0.9803921569);
}
.grid-container-home .container-home .bar-home__btn {
  padding: 0.5rem 1rem;
  margin: 1vh 1vw;
  border: none;
  background-color: rgba(255, 210, 210, 0.5607843137);
  border-radius: 6px;
}
.grid-container-home .container-home .bar-home__btn:hover {
  background-color: rgba(255, 177, 177, 0.7019607843);
  cursor: pointer;
  border-bottom: solid 1px rgba(217, 154, 154, 0.7019607843);
}
.grid-container-home .container-home .bar-home__btn .selected {
  background-color: #4070F4;
}
.grid-container-home .container-home .bar-home__arrow--btn {
  height: 3vh;
  width: 4vw;
  border: none;
  background-color: transparent;
  background-size: cover;
  background-position: center;
  background-image: url("../../images/forwardarrow_haciaadelante_4836.png");
}
.grid-container-home .container-home .bar-home__arrow--btn:hover {
  scale: 1.05;
}
.grid-container-home .container-home .main-home {
  grid-area: main;
  width: 88.3vw;
  position: relative;
  margin-left: 8vw;
  margin-top: 6vh;
  overflow: hidden;
  z-index: -100;
}
.grid-container-home .container-home .main-home__recommended {
  margin-bottom: 2vh;
}
.grid-container-home .container-home .main-home__recommended--h1 {
  font-size: 1rem;
  margin-top: 2vh;
  margin-left: 0.2vw;
}
.grid-container-home .container-home .main-home__recommended-container {
  display: flex;
  height: 20.5vh;
  justify-content: flex-start;
}
.grid-container-home .container-home .main-home__recommended-container .main-home__recommended-box {
  display: grid;
  margin: 1vh 0.2vw;
  background-color: gainsboro;
  grid-template-rows: 65% 35%;
  min-width: 17vw;
}
.grid-container-home .container-home .main-home__recommended-container .main-home__recommended-box img {
  max-width: 100%;
  max-height: 100%;
}
.grid-container-home .container-home .main-home__recommended-container .main-home__recommended-info {
  background-color: rebeccapurple;
}
.grid-container-home .container-home .main-home__recommended-container .main-home__recommended-info--body {
  line-height: 1.5;
}
.grid-container-home .container-home__current--h2 {
  font-size: 1rem;
  margin-top: 2vh;
  margin-left: 0.2vw;
}
.grid-container-home .container-home__current-container .main-home__current-box {
  display: grid;
  grid-template-columns: 35% 65%;
}
.grid-container-home .container-home__current-container .main-home__current-info {
  margin: 0.4vh 0 0.1vh 1vw;
}
.grid-container-home .container-home__current-container .main-home__current-info--body {
  line-height: 1.5;
}
.grid-container-home .container-home__current-container .main-home__current-info--title {
  font-size: 1.3rem;
}
.grid-container-home .container-home__slide-container {
  min-height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #EFEFEF;
}
.grid-container-home .container-home__slide-container .main-home__slide-content {
  margin: 0 40px;
}
.grid-container-home .container-home__slide-container .main-home__slide-content .main-home__card-wrapper .main-home__card {
  border-radius: 25px;
  background-color: #FFF;
}
.grid-container-home .container-home__slide-container .main-home__slide-content .main-home__card-wrapper .main-home__card .main-home__image-content {
  padding: 10px 14px;
  align-items: center;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}
.grid-container-home .container-home__slide-container .main-home__slide-content .main-home__card-wrapper .main-home__card .main-home__image-content .main-home__overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-color: #4070F4;
}
.grid-container-home .container-home__slide-container .main-home__slide-content .main-home__card-wrapper .main-home__card .main-home__image-content .main-home__overlay .main-home__card-image {
  position: relative;
  height: 23vh;
  width: 20vw;
  border-radius: 50%;
  background-color: #FFF;
}
.grid-container-home .container-home__slide-container .main-home__slide-content .main-home__card-wrapper .main-home__card .main-home__image-content .main-home__overlay .main-home__card-image .main-home__card-img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}
.grid-container-home .container-home__slide-container .main-home__slide-content .main-home__card-wrapper .main-home__card .main-home__card-content {
  padding: 10px 14px;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.grid-container-home .container-home__slide-container .main-home__slide-content .main-home__card-wrapper .main-home__card .main-home__card-content--name {
  font-size: 18px;
  font-weight: 500;
  color: #333;
}
.grid-container-home .container-home__slide-container .main-home__slide-content .main-home__card-wrapper .main-home__card .main-home__card-content--description {
  font-size: 14px;
  color: #707070;
  text-align: center;
}
.grid-container-home .container-home__slide-container .main-home__slide-content .main-home__card-wrapper .main-home__card .main-home__card-content--button {
  border: none;
  font-size: 16px;
  color: #FFF;
  padding: 8px 16px;
  background-color: #4070F4;
  border-radius: 6px;
  margin: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.grid-container-home .container-home__slide-container .main-home__slide-content .main-home__card-wrapper .main-home__card .main-home__card-content--button:hover {
  background-color: #265DF2;
}

.grid-container-inicio {
  display: grid;
  grid-template-rows: 8vh 92vh;
  background-image: url("/images/inicio--img.jpg");
  height: 100vh;
  background-size: cover;
  background-position: 100%;
}
.grid-container-inicio .header-inicio {
  display: flex;
  justify-content: flex-end;
}
.grid-container-inicio .header-inicio__ul {
  display: flex;
  width: 35vw;
  height: 8vh;
  justify-content: space-evenly;
  align-items: center;
}
.grid-container-inicio .header-inicio__ul li {
  display: inline-block;
}
.grid-container-inicio .header-inicio__ul li:hover {
  color: rgba(0, 0, 0, 0.302);
  scale: 1.1;
}
.grid-container-inicio .main-inicio {
  display: grid;
  grid-template-rows: 50% 30% 20%;
}
.grid-container-inicio .main-inicio__title {
  text-align: center;
  margin: auto;
}
.grid-container-inicio .main-inicio__title .h1 {
  margin-top: 10vh;
  font-size: 2.4rem;
  font-weight: 800;
}
.grid-container-inicio .main-inicio__options {
  display: grid;
  grid-template-columns: 1fr 7.5fr 1fr;
}
.grid-container-inicio .main-inicio__options .main-inicio__boxes {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
}
.grid-container-inicio .main-inicio__options .main-inicio__boxes .main-inicio__box {
  margin: auto;
  font-weight: 600;
  border: rgba(255, 210, 210, 0.4392156863) 1.5px solid;
  border-radius: 8px;
  width: 34vw;
  height: 10vh;
  background-color: rgba(255, 210, 210, 0.1882352941);
  display: grid;
}
.grid-container-inicio .main-inicio__options .main-inicio__boxes .main-inicio__box:hover {
  background-color: rgba(255, 210, 210, 0.2549019608);
  scale: 1.01;
}
.grid-container-inicio .main-inicio__options .main-inicio__boxes .main-inicio__box--health {
  display: none;
}
.grid-container-inicio .main-inicio__options .main-inicio__boxes .main-inicio__box p {
  align-self: center;
  text-shadow: 1px 1px 1px #ffd2d2, -1px -1px 2px #ffd2d2;
}
.grid-container-inicio .main-inicio__options .main-inicio__arrow {
  margin: auto;
}
.grid-container-inicio .main-inicio__options .main-inicio__arrow--btn {
  height: 5vh;
  width: 4vw;
  border: none;
  background-color: transparent;
  background-size: cover;
  background-position: center;
}
.grid-container-inicio .main-inicio__options .main-inicio__arrow--btn:hover {
  scale: 1.05;
}
.grid-container-inicio .main-inicio__options .main-inicio__arrow .main-inicio__arrow--btn1 {
  background-image: url("/images/back_arrow_5821.png");
}
.grid-container-inicio .main-inicio__options .main-inicio__arrow .main-inicio__arrow--btn2 {
  background-image: url("/images/forwardarrow_haciaadelante_4836.png");
}
.grid-container-inicio .main-inicio__start {
  text-align: center;
  font-weight: 600;
}
.grid-container-inicio .main-inicio__start p {
  display: inline-block;
  text-shadow: 1px 1px 1px #ffd2d2;
  font-size: 2.2rem;
}
.grid-container-inicio .main-inicio__start p:hover {
  color: rgba(0, 0, 139, 0.8078431373);
  scale: 1.1;
}

/* HOW TO AFFECT A PARENT HOVERING A CHILD? */
/* COLORES (AZUL PROFUNDO, ROSA PASTEL, BLANCO)
#00008B
#65bcde80
#87cfeb36
#ffd2d2
 */
@media only screen and (min-width: 768px) {
  .grid-container-inicio {
    background-image: url("/images/inicio.jpg");
    background-size: cover;
    background-position: 100% 45%;
  }
  .grid-container-inicio .header-inicio__ul {
    width: 25vw;
  }
  .grid-container-inicio .main-inicio__title .h1 {
    font-size: 3rem;
  }
  .grid-container-inicio .main-inicio__options .main-inicio__boxes {
    grid-template-columns: repeat(3, 1fr);
  }
  .grid-container-inicio .main-inicio__options .main-inicio__boxes .main-inicio__box {
    width: 24vw;
    height: 13vh;
    font-size: 1.5rem;
  }
  .grid-container-inicio .main-inicio__options .main-inicio__boxes .main-inicio__box--health {
    display: grid;
  }
  .grid-container-inicio .main-inicio__options .main-inicio__boxes .main-inicio__box p {
    font-size: 1.3rem;
  }
  .grid-container-sign {
    background-color: #ffffff;
    background-image: none;
  }
  .grid-container-sign .header-Sign {
    background-color: rgba(252, 231, 231, 0.4);
    border-bottom: none;
  }
  .grid-container-sign .main-Sign {
    display: grid;
    grid-template-columns: 55% 45%;
    height: 92vh;
  }
  .grid-container-sign .main-Sign__info {
    display: flex;
  }
  .grid-container-sign .main-Sign__container {
    background: none;
    margin: 0;
  }
}
@media only screen and (min-width: 1024px) {
  .grid-container-inicio {
    grid-template-rows: 10vh 90vh;
  }
  .grid-container-inicio .header-inicio__ul {
    width: 17vw;
    height: 10vh;
  }
  .grid-container-inicio .header-inicio__ul a {
    font-size: 1.3rem;
  }
  .grid-container-inicio .main-inicio__title .h1 {
    font-size: 3.5rem;
  }
  .grid-container-inicio .main-inicio__options .main-inicio__boxes .main-inicio__box--health {
    display: grid;
  }
  .grid-container-inicio .main-inicio__options .main-inicio__boxes .main-inicio__box p {
    font-size: 1.6rem;
  }
  .grid-container-inicio .main-inicio__start p {
    font-size: 3rem;
  }
  .grid-container-sign .main-Sign__info .main-Sign__text {
    width: 65%;
  }
  .grid-container-sign .main-Sign__info .main-Sign__text .main-Sign__square h1 {
    font-size: 2rem;
  }
  .grid-container-sign .main-Sign__info .main-Sign__text .main-Sign__square p {
    font-size: 1.2rem;
  }
}/*# sourceMappingURL=style.css.map */