/* COLORES (AZUL PROFUNDO, ROSA PASTEL, BLANCO)
#00008B
#65bcde80
#87cfeb36
#ffd2d2
 */
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  color: #00008B;
  font-family: "Lato", sans-serif;
  font-size: 13px;
}

.grid-container-sign {
  background-image: url("/images/main-sign__info--img2.jpg");
  background-size: cover;
  background-position: 50% 50%;
}
.grid-container-sign .header-Sign {
  height: 8vh;
}
.grid-container-sign .header-Sign nav {
  height: 100%;
}
.grid-container-sign .header-Sign nav .header-Sign__logo {
  display: flex;
  align-items: center;
}
.grid-container-sign .main-Sign {
  display: grid;
  grid-template-columns: 55% 45%;
  height: 92vh;
}
.grid-container-sign .main-Sign__info {
  display: flex;
  height: 100%;
}
.grid-container-sign .main-Sign__info .main-Sign__text {
  margin: auto;
  width: 75%;
  height: 60%;
  background-color: rgba(252, 231, 231, 0.4);
}
.grid-container-sign .main-Sign__info .main-Sign__text .main-Sign__square {
  margin: 10% 20% 20% 20%;
}
.grid-container-sign .main-Sign__container {
  display: flex;
}
.grid-container-sign .main-Sign__container .main-Sign__form {
  margin: auto;
  width: 75%;
  height: 70%;
  /* background-color: ; */
  display: flex;
  flex-direction: column;
  padding: 4vh 4vw;
}
.grid-container-sign .main-Sign__container .main-Sign__form--description {
  margin: 2vh 0;
  font-size: 0.85em;
}
.grid-container-sign .main-Sign__container .main-Sign__form .main-Sign__label {
  margin: 1vh 0.5vw;
}
.grid-container-sign .main-Sign__container .main-Sign__form .main-Sign__input {
  border: 1px solid #ffd2d2;
  /* #87CEEB; */
  border-radius: 3px;
  margin: 1vh 0;
  padding: 1vh 0;
}
.grid-container-sign .main-Sign__container .main-Sign__form .main-Sign__help {
  display: flex;
  justify-content: space-between;
  font-size: 0.75em;
  margin: 1vh 0.2vw;
}
.grid-container-sign .main-Sign__container .main-Sign__form .main-Sign__other-option, .grid-container-sign .main-Sign__container .main-Sign__form .main-Sign__create-account {
  margin: auto;
}
.grid-container-sign .main-Sign__container .main-Sign__form .main-Sign__social-media {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}
.grid-container-sign .main-Sign__container .main-Sign__form .main-Sign__social-media i {
  width: 1vw;
}

.grid-container-home {
  display: grid;
  grid-template-rows: 8vh 100vh 30vh;
}
.grid-container-home .header-Home {
  display: grid;
  grid-template-columns: 20vw 50vw 30vw;
  background-color: #ffd2d2;
}
.grid-container-home .container-Home {
  display: grid;
  grid-template-columns: 10vw 90vw;
  background-color: rosybrown;
}
.grid-container-home .container-Home .aside-Home {
  background-color: palegoldenrod;
}

.grid-container-inicio {
  display: grid;
  grid-template-rows: 8vh 92vh;
  background-image: url("/images/inicio--img.jpg");
  height: 100vh;
  background-size: cover;
  background-position: 100%;
}
.grid-container-inicio .header-inicio {
  display: flex;
  justify-content: end;
}
.grid-container-inicio .header-inicio__ul {
  display: flex;
  width: 35vw;
  height: 8vh;
  justify-content: space-evenly;
  align-items: center;
}
.grid-container-inicio .header-inicio__ul li {
  display: inline-block;
}
.grid-container-inicio .header-inicio__ul li:hover {
  color: rgba(0, 0, 0, 0.302);
  scale: 1.1;
}
.grid-container-inicio .main-inicio {
  display: grid;
  grid-template-rows: 50% 30% 20%;
}
.grid-container-inicio .main-inicio__title {
  text-align: center;
  margin: auto;
}
.grid-container-inicio .main-inicio__title .h1 {
  margin-top: 10vh;
  font-size: 2.4rem;
  font-weight: 800;
}
.grid-container-inicio .main-inicio__options {
  display: grid;
  grid-template-columns: 1fr 7.5fr 1fr;
}
.grid-container-inicio .main-inicio__options .main-inicio__boxes {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
}
.grid-container-inicio .main-inicio__options .main-inicio__boxes .main-inicio__box {
  margin: auto;
  font-weight: 600;
  border: rgba(255, 210, 210, 0.4392156863) 1.5px solid;
  border-radius: 8px;
  width: 34vw;
  height: 10vh;
  background-color: rgba(255, 210, 210, 0.1882352941);
  display: grid;
}
.grid-container-inicio .main-inicio__options .main-inicio__boxes .main-inicio__box:hover {
  background-color: rgba(255, 210, 210, 0.2549019608);
  scale: 1.01;
}
.grid-container-inicio .main-inicio__options .main-inicio__boxes .main-inicio__box--health {
  display: none;
}
.grid-container-inicio .main-inicio__options .main-inicio__boxes .main-inicio__box p {
  align-self: center;
  text-shadow: 1px 1px 1px #ffd2d2, -1px -1px 2px #ffd2d2;
}
.grid-container-inicio .main-inicio__options .main-inicio__arrow {
  margin: auto;
}
.grid-container-inicio .main-inicio__options .main-inicio__arrow--btn {
  height: 5vh;
  width: 4vw;
  border: none;
  background-color: transparent;
  background-size: cover;
  background-position: center;
}
.grid-container-inicio .main-inicio__options .main-inicio__arrow--btn:hover {
  scale: 1.05;
}
.grid-container-inicio .main-inicio__options .main-inicio__arrow .main-inicio__arrow--btn1 {
  background-image: url("/images/back_arrow_5821.png");
}
.grid-container-inicio .main-inicio__options .main-inicio__arrow .main-inicio__arrow--btn2 {
  background-image: url("/images/forwardarrow_haciaadelante_4836.png");
}
.grid-container-inicio .main-inicio__start {
  text-align: center;
  font-weight: 600;
}
.grid-container-inicio .main-inicio__start p {
  display: inline-block;
  text-shadow: 1px 1px 1px #ffd2d2;
  font-size: 2.2rem;
}
.grid-container-inicio .main-inicio__start p:hover {
  color: rgba(0, 0, 139, 0.8078431373);
  scale: 1.1;
}

/* HOW TO AFFECT A PARENT HOVERING A CHILD? */
@media only screen and (min-width: 768px) {
  .grid-container-inicio {
    background-image: url("/images/inicio.jpg");
    background-size: cover;
    background-position: 100% 45%;
  }
  .grid-container-inicio .header-inicio__ul {
    width: 25vw;
  }
  .grid-container-inicio .main-inicio__title .h1 {
    font-size: 3rem;
  }
  .grid-container-inicio .main-inicio__options .main-inicio__boxes {
    grid-template-columns: repeat(3, 1fr);
  }
  .grid-container-inicio .main-inicio__options .main-inicio__boxes .main-inicio__box {
    width: 24vw;
    height: 13vh;
    font-size: 1.5rem;
  }
  .grid-container-inicio .main-inicio__options .main-inicio__boxes .main-inicio__box--health {
    display: grid;
  }
  .grid-container-inicio .main-inicio__options .main-inicio__boxes .main-inicio__box p {
    font-size: 1.3rem;
  }
}
@media only screen and (min-width: 1024px) {
  .grid-container-inicio {
    grid-template-rows: 10vh 90vh;
  }
  .grid-container-inicio .header-inicio__ul {
    width: 17vw;
    height: 10vh;
  }
  .grid-container-inicio .header-inicio__ul a {
    font-size: 1.3rem;
  }
  .grid-container-inicio .main-inicio__title .h1 {
    font-size: 3.5rem;
  }
  .grid-container-inicio .main-inicio__options .main-inicio__boxes .main-inicio__box--health {
    display: grid;
  }
  .grid-container-inicio .main-inicio__options .main-inicio__boxes .main-inicio__box p {
    font-size: 1.6rem;
  }
  .grid-container-inicio .main-inicio__start p {
    font-size: 3rem;
  }
}/*# sourceMappingURL=style.css.map */