* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  color: #f6d794;
  font-family: "Lato", sans-serif;
  font-size: 13px;
  box-sizing: border-box;
}

.header {
  display: grid;
  height: 5vh;
  margin-top: 1vh;
  background-color: rgba(255, 255, 255, 0.9215686275);
  grid-template-columns: 60% 40%;
  position: sticky;
  top: 0;
  z-index: 100;
}
.header__start {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.header__start--menu i {
  color: #00008b;
}
.header__start--brand a {
  font-size: 1.2rem;
  color: #00008b;
}
.header__end {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.header lord-icon {
  width: 1.95rem;
  height: 1.95rem;
  color: #00008b;
}

.grid-container-sign {
  background-image: url("/images/mainMountain.jpg");
  background-size: cover;
  background-position: 50% 50%;
}
.grid-container-sign .header-Sign {
  height: 8vh;
}
.grid-container-sign .header-Sign nav {
  height: 100%;
}
.grid-container-sign .header-Sign nav .header-Sign__logo {
  display: flex;
  height: 100%;
  align-items: center;
  padding: 0 4vw;
}
.grid-container-sign .header-Sign nav .header-Sign__logo a {
  font-weight: 600;
}
.grid-container-sign .main-Sign {
  display: flex;
  height: 92vh;
}
.grid-container-sign .main-Sign__info {
  display: none;
  background-image: url("/images/mainMountain1.png");
  background-size: cover;
  background-position: 50% 10%;
  height: 100%;
  border-radius: 0 5px 0 0;
}
.grid-container-sign .main-Sign__info .main-Sign__text {
  margin: auto;
  width: 75%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(252, 231, 231, 0.4);
}
.grid-container-sign .main-Sign__info .main-Sign__text .main-Sign__square {
  height: 70%;
  width: 70%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.grid-container-sign .main-Sign__info .main-Sign__text .main-Sign__square h1 {
  font-size: 1.8rem;
  color: rgba(0, 0, 139, 0.8352941176);
}
.grid-container-sign .main-Sign__info .main-Sign__text .main-Sign__square h1 i {
  color: #00008b;
}
.grid-container-sign .main-Sign__info .main-Sign__text .main-Sign__square h1 strong {
  font-size: 1.8rem;
  color: #00008b;
}
.grid-container-sign .main-Sign__info .main-Sign__text .main-Sign__square p {
  margin-bottom: 5vh;
  color: #00008b;
}
.grid-container-sign .main-Sign__container {
  display: flex;
  background-color: rgba(255, 210, 210, 0.4862745098);
  background: linear-gradient(0deg, rgba(252, 231, 231, 0.4) 0%, rgba(255, 210, 210, 0.7529411765) 100%);
  border-radius: 4px;
  margin: auto;
}
.grid-container-sign .main-Sign__container .main-Sign__form {
  margin: auto;
  width: 75vw;
  height: 75vh;
  display: flex;
  flex-direction: column;
  padding: 4vh 4vw 4vh 2vw;
}
.grid-container-sign .main-Sign__container .main-Sign__form--h2 {
  color: #00008b;
}
.grid-container-sign .main-Sign__container .main-Sign__form--description {
  color: #00008b;
  margin: 2vh 0;
  font-size: 0.85em;
}
.grid-container-sign .main-Sign__container .main-Sign__form--sms {
  color: red;
}
.grid-container-sign .main-Sign__container .main-Sign__form .main-Sign__label {
  margin: 1vh 0vw;
  color: #00008b;
}
.grid-container-sign .main-Sign__container .main-Sign__form .main-Sign__input {
  border: none;
  border-bottom: 2px solid #f6d794;
  border-radius: 3px;
  margin: 1vh 0;
  padding: 1vh 0;
  background-color: transparent;
  color: #00008b;
}
.grid-container-sign .main-Sign__container .main-Sign__form .main-Sign__input:focus {
  outline: none;
}
.grid-container-sign .main-Sign__container .main-Sign__form .main-Sign__input:hover {
  background-color: rgba(246, 215, 148, 0.3411764706);
}
.grid-container-sign .main-Sign__container .main-Sign__form .main-SignIn--btn, .grid-container-sign .main-Sign__container .main-Sign__form .main-SignUp--btn {
  width: 100%;
}
.grid-container-sign .main-Sign__container .main-Sign__form .main-Sign__password--container {
  border-bottom: 2px solid #f6d794;
  margin: 1vh 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.grid-container-sign .main-Sign__container .main-Sign__form .main-Sign__password--container .main-Sign__input--password {
  border: none;
  margin: 0;
  width: 90%;
}
.grid-container-sign .main-Sign__container .main-Sign__form .main-Sign__password--container #show-password {
  color: #00008b;
}
.grid-container-sign .main-Sign__container .main-Sign__form .main-Sign__help {
  display: flex;
  justify-content: space-between;
  margin: 2vh 0.5vw;
}
.grid-container-sign .main-Sign__container .main-Sign__form .main-Sign__help p {
  font-size: 0.7em;
  color: #00008b;
}
.grid-container-sign .main-Sign__container .main-Sign__form .main-Sign__divisor {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 8vh;
}
.grid-container-sign .main-Sign__container .main-Sign__form .main-Sign__divisor-side {
  width: 30%;
}
.grid-container-sign .main-Sign__container .main-Sign__form .main-Sign__divisor-side hr {
  background-color: #f6d794;
  border: none;
  height: 2px;
}
.grid-container-sign .main-Sign__container .main-Sign__form .main-Sign__divisor p {
  color: #00008b;
}
.grid-container-sign .main-Sign__container .main-Sign__form .main-Sign__create-account {
  margin: auto;
  color: #00008b;
}
.grid-container-sign .main-Sign__container .main-Sign__form .main-Sign__create-account:hover {
  color: rgba(0, 0, 139, 0.8352941176);
}
.grid-container-sign .main-Sign__container .main-Sign__form .main-Sign__social-media {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin: 1vh 0;
}
.grid-container-sign .main-Sign__container .main-Sign__form .main-Sign__social-media i {
  width: 1vw;
  color: #00008b;
}

.container-home {
  display: grid;
}
.container-home .bar-home {
  height: 6vh;
  width: 100%;
  display: grid;
  grid-template-columns: 7vw 86vw 7vw;
  align-items: center;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.9215686275);
  z-index: 100;
}
.container-home .bar-home__arrow {
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 200;
}
.container-home .bar-home__arrow--btn {
  position: fixed;
  height: 3vh;
  width: 4vw;
  border: none;
  background-color: transparent;
  background-size: cover;
  background-position: center;
}
.container-home .bar-home__arrow--btn:hover {
  scale: 1.05;
}
.container-home .bar-home__arrow .arrow-left__btn {
  background-image: url("../../images/back_arrow_5821.png");
}
.container-home .bar-home__arrow .arrow-right__btn {
  background-image: url("../../images/forwardarrow_haciaadelante_4836.png");
}
.container-home .bar-home__btns {
  display: flex;
  transition: transform 0.5s ease-in-out;
}
.container-home .bar-home__btns--btn {
  padding: 0.5rem 1rem;
  margin: 1vh 1vw;
  border: none;
  background-color: #f6d794;
  border-radius: 6px;
}
.container-home .bar-home__btns--btn-text {
  color: #00008b;
}
.container-home .bar-home__btns--btn:hover {
  background-color: #ffdb8c;
  cursor: pointer;
  border-bottom: solid 1px #ffdb8c;
}
.container-home .main-home {
  width: 100%;
  margin-top: 4.7vh;
  z-index: 0;
}
.container-home .main-home__recommended {
  margin-bottom: 2vh;
  display: flex;
  flex-direction: column;
}
.container-home .main-home__recommended--section {
  height: 30vh;
}
.container-home .main-home__recommended--section .main-home__recommended--h1 {
  font-size: 1.3rem;
  margin-top: 1.6vh;
  margin-left: 5vw;
}
.container-home .main-home__recommended--section .main-home__recommended--container {
  display: grid;
  grid-template-columns: 5vw 90vw 5vw;
  height: 25vh;
  margin: 1vh 0;
}
.container-home .main-home__recommended--section .main-home__recommended--container .main-home__arrow {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 200;
}
.container-home .main-home__recommended--section .main-home__recommended--container .main-home__arrow--btn {
  position: fixed;
  height: 3vh;
  width: 4vw;
  border: none;
  background-color: transparent;
  background-size: cover;
  background-position: center;
}
.container-home .main-home__recommended--section .main-home__recommended--container .main-home__arrow--btn:hover {
  scale: 1.05;
}
.container-home .main-home__recommended--section .main-home__recommended--container .arrow-left__btn {
  background-image: url("../../images/back_arrow_5821.png");
}
.container-home .main-home__recommended--section .main-home__recommended--container .arrow-right__btn {
  background-image: url("../../images/forwardarrow_haciaadelante_4836.png");
}
.container-home .main-home__recommended--section .main-home__recommended--container .main-home__recommended-boxes {
  display: flex;
  transition: transform 0.5s ease-in-out;
}
.container-home .main-home__recommended--section .main-home__recommended--container .main-home__recommended-boxes--box {
  display: grid;
  margin: 0 1vw;
  border: #00008b 1px solid;
}
.container-home .main-home__recommended--section .main-home__recommended--container .main-home__recommended-boxes--box .main-home__recommended--pic {
  width: 43vw;
  max-height: 16vh;
  display: flex;
  justify-content: center;
  border-bottom: #00008b 1px solid;
}
.container-home .main-home__recommended--section .main-home__recommended--container .main-home__recommended-boxes--box .main-home__recommended--pic-img {
  max-height: 100%;
}
.container-home .main-home__recommended--section .main-home__recommended--container .main-home__recommended-boxes--box .main-home__recommended--title {
  display: flex;
  padding: 1vh;
}
.container-home .main-home__recommended--section .main-home__recommended--container .main-home__recommended-boxes--box .main-home__recommended--title-p {
  color: #00008b;
  text-align: center;
  align-self: center;
  font-size: 1.3rem;
}

.grid-container-sign .main-Sign__container .main-Sign__form .main-Sign__input option {
  color: #00008b;
  background-color: rgba(246, 215, 148, 0.5098039216);
  border: none;
}

.container-home .main-tools {
  grid-area: main;
  width: 88.3vw;
  position: relative;
  margin-left: 8vw;
  margin-top: 2vh;
  overflow: hidden;
}
.container-home .main-tools__favorite--h1 {
  font-size: 1.5rem;
  color: #00008b;
  margin-bottom: 2vh;
}
.container-home .main-tools__favorite--chosen {
  display: flex;
  height: 26vh;
  border: #00008b 1px solid;
  border-radius: 4px;
}
.container-home .main-tools__extensions--h2 {
  font-size: 1.5rem;
  color: #00008b;
  margin-top: 2vh;
}
.container-home .main-tools__extensions .main-tools__container {
  display: flex;
  flex-wrap: wrap;
}
.container-home .main-tools__extensions .main-tools__container--extension {
  margin: 3vh 2vw;
  border-radius: 7px;
}
.container-home .main-tools__extensions .main-tools__container--extension .main-tools__container--title {
  text-align: center;
  color: #00008b;
}
.container-home .main-tools__extensions .main-tools__container--extension:hover {
  background-color: #f6d794;
}

.grid-container-inicio {
  display: grid;
  grid-template-rows: 10vh 90vh;
  background-image: url("/images/inicioBackground.png");
  background-size: cover;
  background-position: 50% 80%;
}
.grid-container-inicio .header-inicio nav {
  height: 100%;
}
.grid-container-inicio .header-inicio__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 4vw;
  height: 100%;
}
.grid-container-inicio .header-inicio__container--logo p {
  font-size: 1.2rem;
}
.grid-container-inicio .header-inicio__container--ul {
  display: flex;
  height: 8vh;
  justify-content: space-evenly;
  align-items: center;
}
.grid-container-inicio .header-inicio__container--ul li {
  display: flex;
  background-color: rgba(29, 14, 20, 0.8196078431);
  height: 5vh;
  width: 12vw;
  padding: 0.6vh 1.2vw;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}
.grid-container-inicio .header-inicio__container--ul li a {
  font-size: 0.8rem;
}
.grid-container-inicio .header-inicio__container--ul li:hover {
  color: rgba(0, 0, 0, 0.302);
  scale: 1.1;
}
.grid-container-inicio .main-inicio-first {
  display: grid;
  height: 100%;
  grid-template-rows: 73% 12%;
  margin: 0 5vw;
}
.grid-container-inicio .main-inicio-first__title {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.grid-container-inicio .main-inicio-first__title--h1 {
  margin-top: 3vh;
  font-size: 2.5rem;
  font-weight: 800;
  text-align: center;
}
.grid-container-inicio .main-inicio-first__title--description {
  margin-top: 2vh;
  display: none;
}
.grid-container-inicio .main-inicio-first__action {
  display: flex;
  justify-content: center;
  align-items: center;
}
.grid-container-inicio .main-inicio-first__action--container {
  background-color: #f9a956;
  padding: 1vh 1vw;
  border-radius: 4px;
}
.grid-container-inicio .main-inicio-first__action--container p {
  color: white;
}
.grid-container-inicio .main-inicio-first__image {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.grid-container-inicio .main-inicio-first__image--container {
  height: 80%;
}
.grid-container-inicio .main-inicio-first__image--img {
  max-width: 100%;
  max-height: 100%;
  background-size: cover;
  border-radius: 10px;
}

.main-inicio-second {
  display: none;
}

/* HOW TO AFFECT A PARENT HOVERING A CHILD? */
.main-cEffect {
  margin: 0 10vw;
}
.main-cEffect .cEffect__h1 {
  font-size: 2rem;
  margin: 1vh 0;
}
.main-cEffect .cEffect__description {
  text-align: justify;
  font-size: 1.2rem;
}
.main-cEffect .container-cEffect {
  background-color: #00325b;
  margin: 5vh 0 0 0;
}
.main-cEffect .container-cEffect .formulario-cEffect__pasos {
  padding: 2vh 2vw;
  background-color: #218383;
  color: white;
}
.main-cEffect .container-cEffect .formulario-cEffect__pasoInput {
  padding: 3.5vh 2.5vw;
  display: flex;
  flex-wrap: wrap;
  color: white;
}
.main-cEffect .container-cEffect .formulario-cEffect__pasoInput--title {
  flex-basis: 80%;
  font-weight: 1000;
  padding-bottom: 2vh;
}
.main-cEffect .container-cEffect .formulario-cEffect__pasoInput--input {
  border: none;
  flex-basis: 20%;
  max-width: 20%;
  padding: 5px;
  color: #00325b;
}
.main-cEffect .container-cEffect .formulario-cEffect__pasoInput--input:focus-visible {
  outline: none;
}
.main-cEffect .container-cEffect .formulario-cEffect__pasoInput--input::-webkit-outer-spin-button, .main-cEffect .container-cEffect .formulario-cEffect__pasoInput--input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.main-cEffect .container-cEffect .formulario-cEffect__pasoInput--input::-moz-placeholder {
  text-align: center;
  color: black;
}
.main-cEffect .container-cEffect .formulario-cEffect__pasoInput--input::placeholder {
  text-align: center;
  color: black;
}
.main-cEffect .container-cEffect .formulario-cEffect__pasoInput p {
  font-size: 0.75em;
  flex-basis: 80%;
  max-width: 70%;
}
.main-cEffect .container-cEffect .formulario-cEffect__divisor {
  border-top: white solid 1px;
}
.main-cEffect .container-cEffect .formulario-cEffect__buttons {
  display: flex;
  justify-content: flex-end;
}
.main-cEffect .container-cEffect .formulario-cEffect__buttons--button {
  border: none;
  flex-basis: 10%;
  margin: 1.5vh 0 2vh 2vw;
  padding: 0.75em;
  font-size: 1em;
  font-weight: 900;
  color: white;
}
.main-cEffect .container-cEffect .formulario-cEffect__buttons--calcular {
  background-color: green;
}
.main-cEffect .container-cEffect .formulario-cEffect__buttons--reset {
  background-color: red;
}
.main-cEffect .container-results {
  background-color: #218383;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main-cEffect .container-results__h2, .main-cEffect .container-results__h3 {
  font-size: 1.5rem;
  text-align: center;
  padding: 1.5vh 0;
}
.main-cEffect .container-results__h3--years, .main-cEffect .container-results__h3--amount {
  font-size: 1.5rem;
}
.main-cEffect .container-results__hr {
  margin: 0 7vw;
  background-color: #00325b;
}
.main-cEffect .container-results__description {
  padding: 2vh 2vw;
}

/* COLORES (AZUL PROFUNDO, ROSA PASTEL, BLANCO)
#00008B
#65bcde80
#87cfeb36
#ffd2d2
 */
@media only screen and (min-width: 550px) {
  .grid-container-inicio {
    background-image: url("/images/editedBG1.png");
    background-position: 70% 80%;
    grid-template-rows: 12vh 98vh;
  }
  .grid-container-inicio .main-inicio-first {
    height: 90vh;
    grid-template-rows: 55% 20%;
    padding: 0 7vw;
  }
  .grid-container-inicio .main-inicio-first__title {
    display: flex;
    flex-direction: column;
    justify-content: end;
  }
  .grid-container-inicio .main-inicio-first__title--h1 {
    font-size: 2.8rem;
    width: 25vw;
    text-align: start;
  }
  .grid-container-inicio .main-inicio-first__title--description {
    display: block;
    width: 35vw;
  }
  .grid-container-inicio .main-inicio-first__action {
    justify-content: start;
  }
  .grid-container-inicio .main-inicio-first__action p {
    font-size: 1.3rem;
  }
  .grid-container-inicio .main-inicio-first__image {
    display: none;
  }
  .main-inicio-second {
    display: block;
    height: 100vh;
    background: linear-gradient(90deg, #e9f0ec 50%, #fdd9ab 75%, #e9cea9 93%, #f7dab0);
  }
  .main-inicio-second__options {
    display: grid;
    grid-template-columns: 1fr 7.5fr 1fr;
    height: 30vh;
  }
  .main-inicio-second__options .main-inicio-second__boxes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
  }
  .main-inicio-second__options .main-inicio-second__boxes .main-inicio-second__box {
    width: 24vw;
    height: 13vh;
    font-size: 1.5rem;
    margin: auto;
    font-weight: 600;
    border: #3a4b51 1.5px solid;
    border-radius: 8px;
    background-color: #0b0f15;
    display: grid;
  }
  .main-inicio-second__options .main-inicio-second__boxes .main-inicio-second__box:hover {
    background-color: rgba(255, 210, 210, 0.2549019608);
    scale: 1.01;
  }
  .main-inicio-second__options .main-inicio-second__boxes .main-inicio-second__box p {
    align-self: center;
    font-size: 1.3rem;
  }
  .main-inicio-second__options .main-inicio-second__arrow {
    margin: auto;
  }
  .main-inicio-second__options .main-inicio-second__arrow--btn {
    height: 5vh;
    width: 4vw;
    border: none;
    background-color: transparent;
    background-size: cover;
    background-position: center;
  }
  .main-inicio-second__options .main-inicio-second__arrow--btn:hover {
    scale: 1.05;
  }
  .main-inicio-second__options .main-inicio-second__arrow--btn1 {
    background-image: url("/images/back_arrow_5821.png");
  }
  .main-inicio-second__options .main-inicio-second__arrow--btn2 {
    background-image: url("/images/forwardarrow_haciaadelante_4836.png");
  }
  .main-inicio-second .main-inicio-second__options .main-inicio-second__boxes .main-inicio-second__box--health {
    display: grid;
  }
  .grid-container-sign {
    background-color: #fff5f5;
    background-image: none;
    background: linear-gradient(240deg, #e9f0ec, #d3794c);
  }
  .grid-container-sign .header-Sign {
    border-bottom: none;
  }
  .grid-container-sign .header-Sign__logo p {
    color: #00008b;
  }
  .grid-container-sign .main-Sign {
    display: grid;
    grid-template-columns: 50% 50%;
    height: 92vh;
  }
  .grid-container-sign .main-Sign__info {
    display: flex;
  }
  .grid-container-sign .main-Sign__container {
    background: none;
    margin: 0;
  }
}
@media only screen and (min-width: 1024px) {
  .grid-container-inicio {
    background-position: 10% 92%;
    grid-template-rows: 12vh 109vh;
  }
  .grid-container-inicio .header-inicio__ul {
    width: 17vw;
    height: 10vh;
  }
  .grid-container-inicio .header-inicio__ul a {
    font-size: 1.3rem;
  }
  .grid-container-inicio .main-inicio-first__title--h1 {
    font-size: 3.2rem;
  }
  .grid-container-inicio .main-inicio-first__title--description {
    font-size: 1.3rem;
  }
  .grid-container-inicio .main-inicio-first__options .main-inicio__boxes .main-inicio__box--health {
    display: grid;
  }
  .grid-container-inicio .main-inicio-first__options .main-inicio__boxes .main-inicio__box p {
    font-size: 1.6rem;
  }
  .grid-container-inicio .main-inicio-first__action--container {
    padding: 2vh 2vw;
  }
  .grid-container-inicio .main-inicio-first__action--container p {
    font-size: 1.6rem;
  }
  .grid-container-sign .main-Sign__info .main-Sign__text {
    width: 55%;
  }
  .grid-container-sign .main-Sign__info .main-Sign__text .main-Sign__square h1 {
    font-size: 2rem;
  }
  .grid-container-sign .main-Sign__info .main-Sign__text .main-Sign__square p {
    font-size: 1.2rem;
  }
}
@media only screen and (min-width: 1440px) {
  .grid-container-inicio {
    background-position: 10% 100%;
    grid-template-rows: 12vh 109vh;
  }
}/*# sourceMappingURL=style.css.map */